@page
@model Proyectos.App.Presentacion.Pages.Tutores.CrearModel
@{
    ViewData["Title"] = "Crear Tutor";
}

<div class="card">
    <div class="card-header">
        <h2 class="text-info">Crear un nuevo tutor</h2>
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-sumary="ModelOnly" class="text-danger">
                <div class="container" style="padding: 50px">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="tutor.identificacion"></label>
                            </div>
                            <div class="col-sm-3">
                                <input asp-for="tutor.identificacion" class="form-control" />
                            </div>
                            <span asp-validation-for="tutor.identificacion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="tutor.nombre"></label>
                            </div>
                            <div class="col-sm-6">
                                <input asp-for="tutor.nombre" class="form-control" />
                            </div>
                            <span asp-validation-for="tutor.nombre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="tutor.mail"></label>
                            </div>
                            <div class="col-sm-6">
                                <input type="email" asp-for="tutor.mail" class="form-control" />
                            </div>
                            <span asp-validation-for="tutor.mail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="tutor.movil"></label>
                            </div>
                            <div class="col-sm-3">
                                <input asp-for="tutor.movil" class="form-control" />
                            </div>
                            <span asp-validation-for="tutor.movil" class="text-danger"></span>
                        </div>
                    </div>                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="tutor.vigente" class="text-primary"></label>
                            </div>
                            <div class="col-sm-6">
                                <input type="checkbox" asp-for="tutor.vigente" class="form-check-input" value=@Model.tutor.vigente />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 offset-sm-2"> 
                                <input type="submit" value="Crear" class="btn btn-success form-control" />
                            </div>
                            <div class="col-sm-4">
                                <a asp-page="List" class="btn btn-primary form-control">Volver a la Lista</a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>