@page
@model Proyectos.App.Presentacion.Pages.Roles.DeleteModel
@{
    ViewData["Title"] = "Eliminar Rol";
}

<div class="card">
    <div class="card-header">
        <h2 class="text-info">Datos del  Rol</h2>
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-sumary="ModelOnly" class="text-danger">
                <!-- se envía campo de la PK oculto -->
                <input type="hidden"  asp-for="Rol.id" />
                <div class="container" style="padding: 30px">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="Rol.id"  class="text-primary"></label>
                            </div>
                            <div class="col-sm-1">
                                <input asp-for="Rol.id" class="form-control" value = "@Model.Rol.id" disabled />
                            </div>
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="Rol.nombre"  class=" text-primary"></label>
                            </div>
                            <div class="col-sm-6">
                                <input asp-for="Rol.nombre" class="form-control" value = "@Model.Rol.nombre" disabled />
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="Rol.vigente"  class=" text-primary"></label>
                            </div>
                            <div class="col-sm-3">
                                <input class="form-check-input" type="checkbox" asp-for="Rol.vigente" class="form-control" value = "@Model.Rol.vigente" disabled />
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 offset-sm-2"> 
                                <input type="submit" value="Eliminar" class="btn btn-danger form-control" />
                            </div>
                            <div class="col-sm-4">
                                <a asp-page="List" class="btn btn-primary form-control">Volver a la Lista</a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




