@page
@model Proyectos.App.Presentacion.Pages.Roles.DetailsModel
@{
    ViewData["Title"] = "Detalle Rol";
}

<div class="card">
    <div class="card-header">
        <h2 class="text-info">Datos del  Rol</h2>
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-sumary="ModelOnly" class="text-primary">
                <div class="container" style="padding: 30px">
                    <!-- se envía campo de la PK oculto -->
                    <input type="hidden"  asp-for="Rol.id" />
                   
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="Rol.nombre"  class=" text-primary"></label>
                            </div>
                            <div class="col-sm-6">
                                @Model.Rol.nombre
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="Rol.vigente"  class=" text-primary"></label>
                            </div>
                            <div class="col-sm-3">
                                @Model.Rol.vigente
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                <a asp-page="List" class="btn btn-primary form-control">Volver a la Lista</a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




                           
